.app-title {
    color: rgba(255, 215, 0);
}

.record-text {
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid #ffd700;
    cursor: pointer;
}
.wallet-btn {
    color: #333;
    background: #ffd700 !important;
    cursor: pointer;
}
.nft-list {
    width: 500px;
    margin-right: 40px;
}

.game-block {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: centers;
}
.game-block .muyu {
    width: 400px;
}
.game-block .gun {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    animation: doit .1s ease-in-out;
}

.game-block .gd {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 215, 0);
    font-size: 36px;
}

.conn-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: rgba(255, 215, 0);
    font-weight: bold;
}
.refresh-btn {
    cursor: pointer;
}

@keyframes doit {
    from {
        transform: rotate(-7deg);
    }
    to {
        transform: rotate(-56deg);
    }
}

.gd-toast {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: rgb(255, 129, 3);
    text-align: center;
    animation: disappear 3s forwards;
}

@keyframes disappear {
    0% {
        text-shadow: 0 0 0 rgba(255, 215, 0, 0.7);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        text-shadow: -10px -10px 20px rgba(255, 215, 0, 0.5);
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        text-shadow: -20px -20px 30px rgba(255, 215, 0, 0);
        transform: scale(2);
        opacity: 0;
    }
}

.error-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 57px);
    font-size: 48px;
    color: #efefef;
    text-shadow: -10px -10px 20px rgba(255, 215, 0, 0.5);
}
